<header class="header">
  <h1 class="header__title">To Dos</h1>
  <nav class="header__nav nav">
    <a href="/users" class="nav__link" title="Ver Usuários">Usuários</a>
    <a href="/todos" class="nav__link" title="Ver To Dos">To Dos</a>
    <a href="/todos/new" class="nav__link" title="Ver Criar To Do">Criar To Do</a>
  </nav>
</header>
<main>